//  (intro and email sign up background)
$color-primary-blue: hsl(217, 28%, 15%); 
// (main background)
$color-primary-blue : hsl(218, 28%, 13%);
// (footer background)
$color-primary-blue : hsl(216, 53%, 9%);
// (testimonials background)
$color-primary-blue: hsl(219, 30%, 18%);

// (inside call-to-action gradient)
$color-cyan : hsl(176, 68%, 64%);
// (inside call-to-action gradient)
$color-blue : hsl(198, 60%, 50%);

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(5rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    } 
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

html{
    font-size: 62.5%; 
}
 
body{
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

.header{
    background-color: hsl(217, 28%, 15%);
    position: relative;
    height: 70vh;
    z-index: 1;

    // &::after {
    //     content: "";  
    //     position: absolute;
    //     top: 15rem;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url('../images/bg-curvy-desktop.svg');
    //     background-size: cover;
    //     display: flex;
    //     z-index: -1;
    // }

    .top_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        margin: 0 5rem;

        @media screen and (max-width:600px) {
            margin: 0 0;
        }

        &-logobox {
            padding: 2rem;
        }

        &-logo {
            height: 3.5rem;
            @media screen and (max-width:400px) {
                height: 2rem;
            }
        }

        &-nav{
            display: flex;
            list-style: none;
            font-size: 1.4rem;    
            & li{
                padding: 2rem;
                margin-left: auto;

                @media screen and (max-width:500px) {
                    padding: 2rem 1rem;
                }
            }
    
            & a {
                text-decoration: none;
                color: hsl(0, 0%, 100%);
                &:hover{
                    padding-bottom: 1.5rem;
                    border-bottom: .3rem $color-cyan solid;
                }
            }
        }
    }
    .heading {
        display: flex;
        // height: 70vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &_cover {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;

            >img{
                // flex: 0 0 30rem;
                // width: 100%;
                // margin: 10rem;
                // padding: 30rem;
            }
        }
        &_textbox{
            width: 50rem;
            text-align: center;

            @media screen and (max-width:650px) {
                width: 40rem;
                padding: 0 5rem;
            }

            >h1{
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                line-height: 1.5;
                margin-bottom: 2.5rem;
            }
            >p{
                line-height: 1.5;
                text-align: center;
                padding: 1rem 1rem;
                margin-bottom: 3rem;
                font-size: 1.6rem;
            }
        }
    }
}

.btn{
    &:link, 
    &:visited {
        text-decoration: none;
    }
    &--blue {
        border-radius: 10rem;
        background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        color: #fff; 
        padding: 1.3rem 6rem;
        transition: all .2s;
    }

    &--transparent{
        color: $color-cyan;
        padding-bottom: 1rem;
        border-bottom: 2px $color-cyan solid;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
    }
    
    // &--animated {
    //     animation: moveInBottom .5s ease-out .75s;
    //     animation-fill-mode: backwards;
    // }
    &-arrow{
        margin-left: 1rem;
    }
}



.Content{
    background-color: hsl(218, 28%, 13%);

    .Features{
        display: grid;
        grid-template-columns: repeat(2, minmax(35rem, 1fr));
        grid-gap: 2rem;
        padding: 0 13vw;

        @media screen and (max-width:1200px) and (min-width:650px) {
            padding: 0 0rem;
        }

        @media screen and (max-width:650px) {
            padding: 0 0;
            grid-template-columns: repeat(1, minmax(35rem, 1fr));
        }

        &_grid{
            padding: 5rem 10rem;
            margin: 2rem;
            text-align: center;
            @media screen and (max-width:600px) {
                padding: 0 3rem;
            }
        }

        &_textbox{
            margin-top: 2rem;

            >h2{
                margin-bottom: 2rem;
            }
            
        }

    }

    .productive{
        display: flex;
        margin-top: 5rem;
        justify-content: center;

        @media screen and (max-width:800px) {
            flex-direction: column;            
        }

        &_img{
            >img{
                width: 50rem;
                height: auto;
                @media screen and (max-width:800px) {
                    padding: 5rem;
                    width: 100%;  
                    height: auto;          
                }
            }
        }

        &_textbox{
            align-self: center;
            padding-left: 10rem;
            width: 65rem;
           
            >h2{
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                line-height: 1.5;
                margin-bottom: 2.5rem;
                padding-right: 18vw;
                @media screen and (max-width:800px) {
                    padding-right: 0;
                }
            }

            >p{
                line-height: 1.5;
                font-size: 1.6rem;
                margin-bottom: 2rem;
            }

            @media screen and (max-width:800px) {
                padding: 0 7rem;
                justify-self: center;
                width: 100%;      
            }
        }
    }

    .quote{
        margin-top: 9rem;
        position: relative;
    }
    .big_quotation{
        position: absolute;
        top: -2rem;
        left: 15rem;
        color: $color-cyan;
    }

    .team{
        display: flex;
        justify-content: space-around;
        padding: 4rem;
        margin: 0 10rem;
        @media screen and (max-width:850px) {
            flex-wrap: wrap;
        }

        &_card{
            background-color: hsl(219, 30%, 18%);
            margin: 2rem;
            border-radius: .5rem;
            justify-self: center;
            padding: 4rem 4rem;
            // box-shadow:;   

            >p{
                line-height: 1.5;
                margin-bottom: 2rem;
            }

            &-label{
                display: flex;
                align-items: center;
                .team{
                    &_img-round{
                        border-radius: 50%;
                        width: 5rem;
                    }
                    &_card-name{
                        width: 100%;
                        font-weight: 700;
                        padding-left: 1.7rem;
                    }
                    // &_card-position{
                    // }


                }
            }
        }
    }

    .signup{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: -10rem;
        @media screen and (max-width:850px) {
            margin: 0 4rem;
            margin-bottom: -10rem;
        }

        &_textbox{
            text-align: center;
            width: 70rem;
            background-color: hsl(217, 28%, 15%);
            border-radius: .5rem;
            padding: 2rem;

            >h2{
                padding: 2rem 0rem;
            }
            >p{
                line-height: 1.8;
            }

            &-input{
                padding-top: 3rem;
                display: flex;
                justify-content: center;
                @media screen and (max-width:850px) {
                    flex-direction: column;
                }
                input{
                    border-radius: 5rem;
                    outline: 0;
                    height: 4.1rem;
                    width: 50%;
                    padding: 1rem 2rem;
                    @media screen and (max-width:850px) {
                        width: 100%;
                    }
                }
                .btn--blue{
                    padding: 1.3rem 2rem;
                    margin-left: 3rem;
                    @media screen and (max-width:850px) {
                        margin-top: 2rem;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.footer_frame{
    padding-top: 15rem;
    background-color: hsl(216, 53%, 9%);
    &-logo{
        margin-left: 10rem;
    }
}

.footer_top{
    display: flex;
    justify-content: space-around;

    @media screen and (max-width:800px) {
        flex-direction: column;
        margin-left: 5rem;        
        padding-bottom: 2rem;
    }

    &-text{
        padding-left: 4rem;
        line-height: 1.7;
        margin-top: -2rem;

        @media screen and (max-width:800px) {
            padding: 0 5rem;
        }
    }

    &-info{
        a{
            text-decoration: none;
            color: #fff;

            &:hover{
                color: $color-cyan;
            }
        }
    }

    &-connect{
        border: 1px #fff solid;
        padding: 1rem;
        border-radius: 50%;
        margin-right: 1rem;
        // @media screen and (max-width:800px) {
        //     align-self: center;
        // }

        &:hover{
            cursor: pointer;
            background-color: $color-cyan;
            border-color: $color-blue;
        }

    }

    &-grid{
        padding-top: 4rem;
        &.logo{
            flex: 0 1 35rem;
            @media screen and (max-width:800px) {
                margin-left: 5rem;
                flex: 0 1 10rem;
            }
        }

        ul{
            list-style: none;

            li{
                padding-bottom: 2rem;
                .icon{
                    padding-right: 3rem;
                }
            }
        }
    }
}


footer{
    background-color: hsla(216, 56%, 9%, 0.856);
    padding: 1rem;
}
.attribution{ 
    font-size: 11px;
    text-align: center;
    & a {
        color: hsl(228, 45%, 44%);
    }
}